{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">clients</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                {% for user1 in users %}
                    <h4><a href="{% url 'accounts:user_role' user1.id %}">{{user1.username}}</a></h4>
                {% endfor %}
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-cards">Cards</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-role">Change Role</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-address">Address</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <div class="col-md-8 col-lg-9">
                    <img src="{{user1.avatar.url}}" alt="Profile" width="100px">
                    <a href="{{ user1.avatar.url }}">{{ user1.avatar.url }}</a>
                  </div>
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{user1.about}}</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{user1.first_name}} {{user1.last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{user1.phonenumber}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user1.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-cards">

                  <!-- Cards -->
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Card Number</div>
                    <div class="col-lg-9 col-md-8">{{user1.card_number}}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Validity Period</div>
                    <div class="col-lg-9 col-md-8">{{user1.card_date}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Currency</div>
                    <div class="col-lg-9 col-md-8">{{user1.get_currency_display}}</div>
                  </div>

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-role">

                  <!-- Settings Form -->
                  <form method='post'>
                    {% csrf_token %}
                        <div class="row mb-3">
                            <h3>{{form}}</h3>
                        </div>

                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Save Changes">
                        </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-address">
                  <!-- Address -->
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Country</div>
                    <div class="col-lg-9 col-md-8">{{user1.get_country_display}}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">City</div>
                    <div class="col-lg-9 col-md-8">{{user1.get_city_display}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Region</div>
                    <div class="col-lg-9 col-md-8">{{user1.region}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Zip Code</div>
                    <div class="col-lg-9 col-md-8">{{user1.zip_code}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label text-primary">Full Address</div>
                    <div class="col-lg-9 col-md-8">{{user1.address1}}</div>
                  </div>
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}