{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>ProductColors</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">PRODUCTS</li>
          <li class="breadcrumb-item active">ProductColors</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="tm-product-table-container">
        {% for msg in messages %}
          {{msg}}
        {% endfor %}
        <form method="get" action="">
          {% csrf_token %}
          <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                  <tr>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">NAME</th>
                      <th scope="col">COLOR</th>
                      <th scope="col">AUTHOR</th>
                      <th>
                          <a href="{% url 'products:productColorCreate' %}" class="btn btn-primary btn-block text-uppercase">Add new productColor</a>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  {% for productColor in productColors %}
                      <tr>
                          <th scope="row"><input type="checkbox" name="{{productColor.id}}"></th>
                          <td class="tm-product-name">{{productColor.name}}</td>
                          <td>{{productColor.color}}</td>
                          <td>{{productColor.author}}</td>
                          <td>
                          <a href="{% url 'products:productColorUpdate' id=productColor.id %}" class="create-link">UPDATE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="{% url 'products:productColorDelete' id=productColor.id %}" class="create-link">DELETE</a>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          <button class="btn btn-primary btn-block text-uppercase"> Delete selected productColors</button>
        </form>
        </div>

  </main><!-- End #main -->
    

{% endblock content %}